body {
    margin: 0%;
}

.recipe-title {
    background-color: rgb(109, 27, 27);
    color: rgb(255, 246, 234);
    padding: 12px;
    margin-bottom: 0;
}

.recipe-body {
    color: rgb(109, 27, 27);
    margin: 12px;
    margin-top: 0;
    max-width: 1080px;
    background-color: rgb(255, 246, 234);
}

.recipe-block {
    margin-top: 0;
    border:  2px solid rgb(109, 27, 27);
}

.recipe-text {
    padding: 8px;
}

button {
    cursor: pointer;
}

.banner {
    background-color: rgb(255, 197, 88);
    margin: 0;
    padding: 6px;
    color: rgb(51, 46, 46);
}

.footer {
    background-color: rgb(255, 197, 88);
    margin: 12px;
}

.top-button {
    background-color: rgb(51, 46, 46);
    color: rgb(219, 211, 226);
}